<h1>Listing pokedexes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Quantity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pokedexes.each do |pokedex| %>
  <tr>
    <td><%= pokedex.name %></td>
    <td><%= pokedex.quantity %></td>
    <td><%= link_to 'Show', pokedex %></td>
    <td><%= link_to 'Edit', edit_pokedex_path(pokedex) %></td>
    <td><%= link_to 'Destroy', pokedex, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pokedex', new_pokedex_path %>
