<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @pokemon.name %>
</p>

<p>
  <b>Type:</b>
  <%= @pokemon.type %>
</p>

<p>
  <b>Number:</b>
  <%= @pokemon.number %>
</p>

<p>
  <b>Version:</b>
  <%= @pokemon.version %>
</p>

<p>
  <b>Pokedex:</b>
  <%= @pokemon.pokedex %>
</p>

<p>
  <b>Admin user:</b>
  <%= @pokemon.admin_user %>
</p>


<%= link_to 'Edit', edit_pokemon_path(@pokemon) %> |
<%= link_to 'Back', pokemons_path %>
